@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('./util/cores.modules.css');

.titulo {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo h1 {
    color: var(--cor-primaria4);

    font-size: 72px;
    text-align: center;
    margin-bottom: 16px;
    color: var(--cor-primaria4);
}

.titulo h3 {
    font-size: 28px;
    text-align: center;
    color: var(--cor-neutra5);
}

.titulo span {
    color: var(--cor-primaria2);
}