.input-container {
    display: flex;
}

.tag-container {
    background-color: var(--cor-primaria1);
    border-radius: 6px 0 0 6px;
    padding: 16px 18px;
    color: var(--cor-primaria3);
}

.input {
    height: 50px;
    width: 380px;
    max-width: 100%;
    border-radius: 0 6px 6px 0;
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-neutra4);
    border-left: none;
    box-sizing: border-box;
    padding: 16px;
    color: var(--cor-preto);
}

.input::placeholder {
    color: var(--cor-neutra4);
}

.input:focus {
    outline: none;
}

.botao-input {
    background-color: var(--cor-primaria2);
    color: var(--cor-branco);
    border-radius: 6px;
    padding: 16px 28px;
    margin-left: 16px;
    border: none;
    cursor: pointer;
}

.botao-input:hover {
    background-color: var(--cor-primaria3);
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .input-container {
        flex-direction: column;
        align-items: center;
    }

    .input {
        width: 100%;
        border-radius: 6px;
        border: 1px solid var(--cor-neutra4);
        margin: 16px 0;
    }

    .tag-container {
        border-radius: 6px;
    }

    .botao-input {
        margin-left: 0;
    }
}